<div class="main_home">
  <div class="container_home">
    <div class="catch_copy">
      <h1 class="title_home text-center">豆知識</h1>
      <p>日常の中の些細な知識、ちょっとした事、</p>
      <p>そんなことを皆で共有しましか?</p>
      <p>ちょっぴり得した気分になりましょう</p>
      <%= link_to(new_user_registration_path,class:"no-underline") do%>
        <div class="sign_up_home">
          <p>新規登録</p>
        </div>
      <%end%>
    </div>
  </div>
</div>
